# ENV
ENV: e.g. dev / prod
LOG_PATH: e.g. logs/prod.log


# DB
DB_DSN: e.g. root:root@tcp(127.0.0.1:3306)/crypto?charset=utf8mb4&parseTime=true

# BYBIT
TESTNET_PUBLIC_WS_SPOT: wss://stream-testnet.bybit.com/v5/public/spot
MAINNET_PUBLIC_WS_SPOT: wss://stream.bybit.com/v5/public/spot
API_KEY:
API_SECRET:

# Slack
SLACK_TOKEN:
SLACK_SEND_MESSAGE_URL: e.g. https://slack.com/api/chat.postMessage
SLACK_DEV_CHANNEL_WATCH: dev-watch
SLACK_DEV_CHANNEL_SYSTEM_LOGS: dev-system-logs
SLACK_PROD_CHANNEL_WATCH: prod-watch
SLACK_PROD_CHANNEL_SYSTEM_LOGS: prod-system-logs
