# ENV
ENV: dev or prod
DEBUG_PRINT_MESSAGE: false
DEBUG_PRINT_MOST_PROFIT: false

# BYBIT
TESTNET_PUBLIC_WS_SPOT: wss://stream-testnet.bybit.com/v5/public/spot
MAINNET_PUBLIC_WS_SPOT: wss://stream.bybit.com/v5/public/spot
API_KEY:
API_SECRET:

# Slack
SLACK_TOKEN:
SLACK_SEND_MESSAGE_URL: https://slack.com/api/chat.postMessage
SLACK_DEV_CHANNEL_WATCH: dev-watch
SLACK_DEV_CHANNEL_SYSTEM_LOGS: dev-system-logs
SLACK_PROD_CHANNEL_WATCH: prod-watch
SLACK_PROD_CHANNEL_SYSTEM_LOGS: prod-system-logs
